<template>
    <div class="row bg-primary pb-3">
        <div class="col-lg-2 col-md-2 d-lg-block d-md-block d-sm-none d-none">
            <a href="/" :title="'Bienvenido a '+empresa.name">
                <img class="rounded mx-auto d-block" :src="'images/'+empresa.logo" 
                style="height:100px!important;"/>
            </a>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-5 col-7 pt-5">
            <div class="form-group has-search" style="cursor:pointer!important;">
                <span class="fa fa-search form-control-feedback" ></span>
                <input type="text" class="form-control" placeholder="Buscar">
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-5 col-5 pt-5">
            <a class="text-white" href="/favoritos" title="Notificaciones">
                <i class="fas fa-bell h4"></i>
                <span class="badge bg-danger">4</span>
            </a>
            <a class="text-white" href="/carrito" title="Ir a favoritos">
                <i class="fas fa-heart h4"></i>
                <span class="badge bg-danger">4</span>
            </a>
            <a class="text-white" href="/login" title="Ingresar">
                <i class="fas fa-user h4"></i>
            </a>
        </div>
    </div>
</template>

<script>
    export default {
        props:['empresa'],
        mounted() {
            this.empresa =JSON.parse(this.empresa);
            console.log(this.empresa, typeof this.empresa);
        }
    }
</script>

<style scoped>
    .has-search .form-control {
        padding-left: 2.375rem;
    }

    .has-search .form-control-feedback {
        position: absolute;
        z-index: 2;
        display: block;
        width: 2.375rem;
        height: 2.375rem;
        line-height: 2.375rem;
        text-align: center;
        color: #aaa;
    }
</style>
